{% extends "index.html" %}
{% block content %}
  <h2>Register:</h2>
  <form method="post">
    <div class="form-group form-row">
      <div class="col-md-6 mb-3">
        <label for="user" id="user-label">Username</label>
        <div class="input-group">
          <input type="text" name="user" id="user" class="form-control" placeholder="Your desired username" aria-label="User Name" aria-descriptedby="user-label" required>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col-md-6 mb-3">
        <label for="mail" id="mail-label">Email</label>
        <div class="input-group">
          <input type="email" name="mail" id="mail" class="form-control" placeholder="Your email address" aria-label="Email Address" aria-descriptedby="mail-label" required>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col-md-6 mb-3">
        <label for="pass" id="pass-label">Password</label>
        <div class="input-group">
          <input type="password" name="pass" id="pass" class="form-control" placeholder="Your password" aria-label="Password" aria-descriptedby="pass-label" required>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Proceed</button>
  </form>
{% endblock %}
{% block footerScripts %}
  <script>
    const processRegistrationRequest = (username, mail, pass) => {
      jQuery.post(
        window.location.href,
        {
          username: username,
          mail: mail,
          pass_digest: web3.sha3(pass)
        },
        function(result) {
          if(!result.err) {
            jQuery('.container-wrapper').append(
              jQuery('<div class="alert alert-success success mx-2" role="alert" />')
                .append("<strong>Success!</strong> Your registration was processed correctly. Please check your email account in order to verify your address.")
            );
            jQuery('form').addClass('d-none');
          } else {
            jQuery('.container-wrapper').append(
              jQuery('<div class="alert alert-danger mx-2" role="alert" />')
                .append("<strong>Error:</strong> " + result.res)
            );
          }
      }).fail(function(){
        jQuery('.container-wrapper').append(
          jQuery('<div class="alert alert-danger mx-2" role="alert" />')
            .append("<strong>Error...</strong> Something went wrong while processing your registration. Please try again in a few minutes and contact system administrator in case this error persisted.")
        );
      });
    };

    jQuery(window).on('load', ()=>{
      jQuery('button[type=submit]').on('click',async (evt) => {
        evt.preventDefault();
        const uname = jQuery('#user').prop('value');
        const email = jQuery('#mail').prop('value');
        const passw = jQuery('#pass').prop('value');
        processRegistrationRequest(uname, email, passw);
      });
    });
  </script>
{% endblock %}


